body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F6F9;
}

.header {
    padding: 0px 20px 0px 20px;
}

.header img {
    width: 190px;
    height: 80px;
}

.header-title {
    font-size: 22px;
    font-weight: bold;
    color: #4550DA;
}

.header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.notificationIcon {
    background-color: white;
    color: black;
}

.notificationIcon:hover {
    background-color: black;
    color: white;
}

.profileIcon {
    background-color: #4550DA;
    color: white;
}

.profileIcon:hover {
    background-color: black;
    color: white;
}

#back-btn {
    background-color: #4550DA;
    color: white;
}

#back-btn:hover {
    background-color: #737cf8;
    color: black;
}

.content-container {
    margin: 30px 80px;
}

.p-title {
    padding: 15px;
    margin-top: 15px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}


.bidder-table {
    width: 100%;
    border-collapse: collapse;
    margin: 50px 0;
    background-color: white;
}

.bidder-table th, .bidder-table td {
    border: 1.5px solid black;
    padding: 15px 0px;
    text-align: center;
}

.bidder-table th {
    background-color: #CEB8F0;
    font-weight: bold;
    font-size: 18px;
}

