body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F6F9;

  }
  
  /* header style */
  header {
    padding: 0px 20px 0px 20px;
    
  }
  
  .header-title {
    font-size: 22px; 
    font-weight: bold; 
    color: #4550DA; 
  }
  
  .header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  .notificationIcon {
    background-color: white;
    color: black;
  }
  
  .notificationIcon:hover {
    background-color: black;
    color: white;
  }
  
  .profileIcon {
    background-color: #4550DA;
    color: white;
  }
  
  .profileIcon:hover {
    background-color: black;
    color: white;
  }

  /* black bar */
.tender-title-bar{
    background-color: black;
    height: 45px;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .tender-title{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px ;
  
  }

  /* mainSection */
  .mainSection{
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
  }

h1{
    font-size: 26px;
    font-weight: 600;
}


h2{
    font-size: 16px;
  }

  
span{
    font-weight: 600; 
}

.keyTerms{
    padding: 15px 20px;
    border-radius: 6px;
    background-color: white;
    box-sizing: border-box;

}

.keyTerms .subtitle{
  font-weight: 700;
  font-size: 17px;
  padding: 0;
  margin-top:0 ;
  margin-bottom: 6px;
}

.keyTerms .line{
  height: 2px;
  background-color: #4550DA;
  width: 450px;
  margin-bottom: 0px;
}


.keyTerms p{
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bolder;

}

.keyTerms p span{
  font-weight: 600;
}

.milestone-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.milestone-title button{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 16px;
    color: #949090;
    border: 1px solid #949090;
    background-color: #D9D9D9; 
}


/* table style */
table{
    width: 99.5%;
    /* margin: 10px 10px; */
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
  }
  
  table .textColumn{
    text-align: left;
  }
  
  table th{
    color: white;
    background-color: #4651E3;
    padding: 5px 20px;
    font-weight: 500;
  }
  
  table td{
    color: black;
    background-color: #CEB8F0;
    padding: 5px 20px;
  }

/* payment status button */
.payment-status{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #949090;
    border: 1px solid #949090;
    background-color: #D9D9D9; 
    
}

/* bottom buttons */
button{
    box-shadow: none;
    outline: none;
    border: none;
  }
  
  .mainButton{
    background-color: #4550DA;
    color: #ffffff;
    border-radius: 5px;
    padding: 6px 10px;
    
  }

  .mainButton:hover {
    background-color: #737cf8;
  }
  
  .buttons{
    display: flex;
    margin: 50px;
    justify-content: center;
  }
  
  #back{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
    width: 130px;
  }
  #next{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    width: 130px;
  }