body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F6F9;
  }
  
  /* header style */
  header {
    padding: 0px 20px 0px 20px;
    
  }
  
  .header-title {
    font-size: 22px; 
    font-weight: bold; 
    color: #4550DA; 
  }
  
  .header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  .notificationIcon {
    background-color: white;
    color: black;
  }
  
  .notificationIcon:hover {
    background-color: black;
    color: white;
  }
  
  .profileIcon {
    background-color: #4550DA;
    color: white;
  }
  
  .profileIcon:hover {
    background-color: black;
    color: white;
  }