body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F7F6F9;
}

header {
  padding: 0px 20px 0px 20px;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.notificationIcon{
  background-color: white;
  color: black;
}

.notificationIcon:hover, .profileIcon:hover  {
  background-color: black;
  color: white;
}

.profileIcon {
  background-color: #4550DA;
  color: white;
}

  .steps {
    display: flex;
    flex-direction: column;
  }

  .step {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .step-title {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
  }

  .step-title.completed {
    background-color: #00CF2D;
    color: white;
  }

  .step-number {
    width: 30px;
    height: 30px;
    background: #D9D9D9;
    color: #B2AFAF;
    font-weight: bold;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    transition: background 0.3s ease;
  }

  .step-number.completed {
    background: #00CF2D;
    color: white;
  }

  .step-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  /* Substeps */
  .substeps {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 30px;
    text-align: left;
    position: relative;
  }
  .substeps li {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #BFBCBC;
    margin-bottom: 10px;
    position: relative;
  }

  .substeps li.completed {
    color: #1A9D36;
  }

  .check-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #e0e0e0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    transition: background 0.3s ease-in-out;
  }

  .substeps li.completed .check-icon {
    background: #4caf50;
  }

.step-bar{
  background-color: black;
  height: 40px;
  align-items: end;
  padding: 0;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.step-bar-title{
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px ;
}

.substep-container {
  display: flex;
  flex-direction: column; 
  border: 1px solid #ccc; 
  overflow: hidden; 
  border-radius: 20px;
  margin-bottom: 20px;
}

.substep-title {
  background-color: #CEB8F0; 
  height: 45px;
  color: black; 
  margin: 0; 
  font-size: 16px;
  font-weight: 600;
  padding: 15px; 
}

.substep-container-content{
  background-color: white; 
  padding: 15px 30px 15px 15px; 
}

.signup-form-row {
  display: flex;
}

.form-input {
flex: 1;
margin-right: 10px;
} 

.signup-form-label {
  width: 150px;
  font-weight: bold;
  font-size: 15px;
  text-align: right;
  padding-right: 2%;
}

.business-nature-table,.update-catalog-table {
  width: 100%;
  border-collapse: collapse;
  margin-left: 1%;
  margin-right: 1%;
}

.business-nature-table th, .business-nature-table td ,.update-catalog-table th, .update-catalog-table td{
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.business-nature-table th , .update-catalog-table th{
  background-color: #8952F4;
}
#add-business-nature-row, #add-update-catalog-row {
border: none;
border-radius: 15px;
background-color: #4550DA;
color: #fff;
} 
.remove-row{
color: grey;
}
.confirmation{
display: flex;
align-items: center;
}

input[type="checkbox"] {
margin-right: 10px;
}

#tnc{
color: #4651E3;
}
ol{
padding-top: 1%;
margin-left: 4%;
padding-right: 4%;
margin-bottom: 0%;
}
ol li{
padding-bottom: 1%;
}
.btn-container {
padding-top: 25px;
}

#back-btn, #next-btn, #decline-btn,#connectWallet-btn {
background-color: #4550DA;
color: white;
}

#next-btn:hover, #back-btn:hover, #decline-btn:hover ,#connectWallet-btn:hover {
  background-color: #737cf8;
  color: black;
}
