
  .tabs {
    display: flex;
  }
  
  .tab {
    background-color: #ddd;
    padding: 8px 16px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
  }
  
  .tab.active {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .project {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .progress-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-circle.green { background-color: #90EE90; } /* Light Green */
  .progress-circle.yellow { background-color: #FFFFE0; } /* Light Yellow */
  .progress-circle.orange { background-color: #FFDAB9; } /* Light Orange */
  
  .progress-percent {
      font-weight: bold;
  }